body {
  font-family: sans-serif;
}
header {
  background-color: red;
  color: white;
}

header h1 {
  font-weight: bold;
}

header a {
  display: inline-block;
  text-align: right;
}

nav {
  background-color: grey;
  color: white;
  text-align: right;
  width: 100%;
}

section p {
  width: 900px;
}

article {
  max-width: 20%;
  float: right;
}
article img {
  width: 300px;
}

#art-museum {
  width: 900px;
}

h2 {
  font-weight: bold;
}

footer {
  background-color: grey;
  color: white;
}
